@mixin hide-text {
    text-indent: 110%;
	white-space: nowrap;
	overflow: hidden
}

@mixin bg-cover {
	background-size: cover;
	background-position: center center;
}

@mixin remove-link-style {
	display: block;
	text-decoration: none;
}

@mixin remove-bootstrap-btn-style {
    border-radius: 0;

    &:focus {
        box-shadow:none;
    }
}

// iphone5 寬
@mixin iphone5 {
    @media (min-width: 320px) {
        @content;
    }
}

// 375px 
@mixin iphone6 {
    @media (min-width: 375px) {
        @content;
    }
}

@mixin iphone6-plus {
    @media (min-width: 414px ) {
        @content;   
    }
}

@mixin ipad {
    @media (min-width: 767px ) {
        @content;
    }
}

@mixin pc {
    @media (min-width: 992px ) {
        @content;
    }
}