// 上方 menu
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 15px;
        color: white;
        @include remove-link-style;

        h1 {
            font-size: 22px;
        }

    }

    .logo:hover {
        color: $color-secondary;
        @include remove-link-style;
    }

    .cart {
        font-size: 20px;
        @include remove-link-style;
        color: white;
        position: relative;

        &:after {
            // content: '1';
            content: attr(cartCount);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: red;
            color: white;
            position: absolute;
            font-size: 12px;
            top: -5px;
            right: -10px;
        }
    }
}

.navbar {
    background: $color-secondary;
    padding: 15px ;

    // checkbox 預設不顯示
    #show-menu {
        display: none;
    }

    #show-menu + label {
        
        cursor: pointer;
        margin-bottom: 0;
        
        .icon-bar {
            height: 3px;
            background-color: $color-primary;
            margin: 5px 0;
            display: block;
            width: 25px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        .icon-bar {
            // margin-left: 20px;
        }
    }

    .navbar-nav {
        // 在小螢幕時，要把方向設為垂直展開
        display: flex;
        flex-direction: column;

        // 在還沒點選漢堡選單時，最大高度設為0超出的部分隱藏
        max-height: 0;
        overflow: hidden;
        transition: max-height ease .7s;

        // 把位置定在 header 下面
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;

        // 樣式設計
        background: $color-secondary;
        z-index: 100;
        a {
            color: white;
            @include remove-link-style;
            padding: 1em 0;
            text-align: center;
        }

        li {
            margin: 0 50px;
            border-bottom: 1px solid $color-primary;
        }

        li:last-child {
            border-bottom: none;
        }
    }

    #show-menu:checked ~ .navbar-nav {
        max-height: 500px;
    }
}

@include ipad() {
    .navbar 
    {
        padding: 0px;

        #show-menu + label {
            display: none;
        }

        .navbar-nav {
            // 在大螢幕時，要把方向設為水平，並用 margin-left auto 把 menu 推到最左邊
            flex-direction: row;

            // 取消小螢幕時的絕對定位
            position: static;
            align-items: center;
            max-height: initial;
            background: inherit;

            li {
                margin: 0;
                border-bottom: none;
            }

            a {
                color: white;
                @include remove-link-style;
                margin-right: 30px;
                font-size: 20px;
                padding: .5em 0;
                font-weight: bold;

                &:hover {
                    color: $color-primary;
                }

                &.active {
                    background: transparent;
                }
            }
        }

        .hamburger-btn {
            display: none;
        }
    }
}
